<div id="content" class="container">

  <div id="headernav" class="row justify-content-around">
    <header id="header" class="col-4">
      <h1>
        {{title}}
      </h1>
    </header>
    <nav id="nav" class="col-4">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Productos</a></li>
        <li><a href="/">Crear producto</a></li>
      </ul>
    </nav>
  </div>

  <home></home>

  <div class="row justify-content-start">
    <div class="col-4">
      <section id="main">
        
      </section>
    </div>
  </div>

  <div class="row justify-content-start">
    <footer id="footer" class="col-4">
      <p>Practicando Angular - Footer</p>
    </footer>
  </div>

</div>

