<div id="content" class="container">

  <div id="headernav" class="row">
    <header id="header" class="col-sm">
      <h1>
        {{title}}
      </h1>
    </header>
    <nav id="nav" class="col-sm">
      <ul>
        <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
        <li><a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a></li>
        <li><a [routerLink]="['/agregar-producto']" [routerLinkActive]="['activado']">Agregar producto</a></li>
        <li><a [routerLink]="['/asdasd']" [routerLinkActive]="['activado']">Probar 404</a></li>
      </ul>
    </nav>
  </div>

  <router-outlet></router-outlet>

  <div class="row">
    <footer id="footer" class="col-sm">
      <p>Practicando Angular - Footer</p>
    </footer>
  </div>

</div>

