<div id="content" class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>
                {{titulo}}
            </h1>
            <img src="https://fitia.app/static/svg/500-error.d1394877a2a4.svg" alt="algo salio mal">
            <h3>
                La página que estas intentando cargar no existe
            </h3>
            <h3>
                Haz click <a href="/">aquí</a> para  volver a la página principal
            </h3>
        </div>
    </div>
</div>