<div id="content" class="container">
    <div class="row">
        <div class="col-sm">
            <h1>{{titulo}}</h1>
            <hr> <br>
            <h2>Para construirla, se usaron las siguientes tecnologías</h2>
        </div>
        <div class="row" style="border: 2px solid red; border-radius: 5px; box-shadow: 0px 0px 5px rgb(255, 60, 0)(235, 209, 209); margin-top: 15px; margin-left: 15px;">
            <div class="col"><img src="https://angular.io/assets/images/logos/angular/shield-large.svg" alt="Angular" style="max-width: 100px; max-height: 100px;"></div>
            <div class="col"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/800px-Bootstrap_logo.svg.png" alt="Bootstrap" style="max-width: 100px; max-height: 100px; margin-top: 10px;"></div>
            <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpngGRjYX1ca7qAADU3K6eGLj7ShQE3L2otdzfryl_Y9Ht2QRoQKYQbsXd36XIxMbYOw0&usqp=CAU" alt="HTML" style="max-width: 90px; max-height: 90px; margin-top: 6px;"></div>
            <div class="col"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="CSS" style="max-width: 90px; max-height: 90px; margin-top: 6px;"></div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="alert alert-warning" role="alert">
                Puedes comenzar a navegarla mediante el menú de arriba, o prueba <a href="/productos" class="alert-link">viendo los productos disponibles</a>
              </div>
        </div>
    </div>


</div>

