<h2>{{titulo}}</h2>

<form id="form-producto" #formProductos="ngForm" (ngSubmit)="addProducto(); formProductos.reset();">

    <label>Título: </label>
    <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="producto.title" required pattern="[a-zA-Z0-9]+">
    <div id="error" *ngIf="title.touched && !title.valid">
        Título incorrecto
    </div>  <br>

    <label>Descripción: </label>
    <textarea type="text" class="form-control" rows="5" name="description" #description="ngModel" [(ngModel)]="producto.description" required pattern="[a-zA-Z0-9]+"></textarea>
    <div id="error" *ngIf="description.touched && !description.valid">
        Descripción incorrecto.
    </div>  <br>

    <label>Precio (USD): </label>
    <input type="text" class="form-control" name="price" #price="ngModel" [(ngModel)]="producto.price" required pattern="[0-9.]+">
    <div id="error" *ngIf="price.touched && !price.valid">
        Precio incorrecto.
    </div>  <br>

    <label>Descuento (porcentaje): </label>
    <input type="text" class="form-control" name="discountPercentage" #discountPercentage="ngModel" [(ngModel)]="producto.discountPercentage" required pattern="[0-9.]+">
    <div id="error" *ngIf="discountPercentage.touched && !discountPercentage.valid">
        Descuento incorrecto.
    </div>  <br>

    <label>Rating: </label>
    <input type="text" class="form-control" name="rating" #rating="ngModel" [(ngModel)]="producto.rating" required pattern="[0-9.]+">
    <div id="error" *ngIf="rating.touched && !rating.valid">
        Rating incorrecto.
    </div>  <br>

    <label>Stock: </label>
    <input type="text" class="form-control" name="stock" #stock="ngModel" [(ngModel)]="producto.stock" required pattern="[0-9]+">
    <div id="error" *ngIf="stock.touched && !stock.valid">
        Stock incorrecto.
    </div>  <br>

    <label>Marca: </label>
    <input type="text" class="form-control" name="brand" #brand="ngModel" [(ngModel)]="producto.brand" required pattern="[a-zA-Z0-9]+">
    <div id="error" *ngIf="brand.touched && !brand.valid">
        Marca incorrecto.
    </div>  <br>

    <label>Categoria: </label> <br>
    <select name="category" #category="ngModel" [(ngModel)]="producto.category" required>
        <option value=Celulares>Celulares</option>
        <option value=Notebooks>Notebooks</option>
        <option value=Mouses>Mouses</option>
        <option value=Teclados>Teclados</option>
        <option value=Audio>Audio</option>
    </select> <br><br>

    <label>Thumbnail (URL): </label>
    <input type="text" class="form-control" name="thumbnail" #thumbnail="ngModel" [(ngModel)]="producto.thumbnail" required pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)(.jpg|.png|.gif)">
    <img *ngIf="thumbnail.touched && thumbnail.valid" src={{producto.thumbnail}} style="max-width:200px; max-height: 200px;" alt="Imagen">
    <div id="error" *ngIf="thumbnail.touched && !thumbnail.valid">
        URL incorrecta (solo JPG, PNG, GIF)
    </div>     

    <br> 
    <input id="boton-submit"  type="submit" value="Agregar producto" class="btn btn-success" [disabled]="!formProductos.form.valid"> <br> <br>
    <div class="alert alert-primary" role="alert" id="res_post" *ngIf="display_post == true">{{res_post}}</div>
</form>