.card img{
    float: left;
    width:  150px;
    height: 150px;
    object-fit: cover;
}

.card{
    width: 20rem; 
    border-color: papayawhip; 
    background-color: rgb(243, 243, 243);
}

#buttons a{
    margin-right: 5px;
}

h3 {
    font-weight: bold;
}